{% extends "layouts/common.html" %}
  {% from 'layouts/components/forms.html' import go_to_button %}
  {% block layout %}
    <div class="container">
      {% include 'layouts/components/dark_logo_header.html' %}

      <div class="main-content">
        <h2>Hi {{ name }},</h2>
        {% if have_vulnerabilities %}
        <p>
          Our scanning tool has detected vulnerabilities in your company’s
          software. It’s time to remediate them before they can be exploited.
        </p>
        {{ go_to_button('Proceed to remediate', 'https://app.fluidattacks.com/', 'primary-button') }}
        {% else %}
        <p>
          Oops! We have not found vulnerabilities in your repository. To get
          the most out of Fluid Attacks’ free trial, we suggest you add a new
          repository. Remember you can add as many repositories as you want.
        </p>
        {{ go_to_button('Add new repository', 'https://app.fluidattacks.com/', 'primary-button') }}
        {% endif %}
        <p>
          We look forward to having you!
        </p>
        <p>
          Contact us at
          <a
            href="mailto:help@fluidattacks.com"
            target="_blank"
            rel="noopener noreferrer"
          >help@fluidattacks.com</a>
          if you have any questions.
        </p>
      </div>
      {% include 'layouts/components/footer.html' %}

    </div>
  {% endblock %}
