<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    {% if not debug %}
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>
    {% endif %}

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="On our Attack Resistance Management platform, you receive vulnerability reports and can efficiently manage those security issues to reduce risk exposure."
    />
    <meta name="author" content="" />
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}"
    />
    {% endif %}
    <title>ARM | Fluid Attacks</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
      integrity="sha384-PdELVkwYXNYuyH/b2jJ2ggnBPdwlfLyqHsU5wexL5atfBo8LX1+2fzksK18otSrI"
      crossorigin="anonymous"
    />
    {% if '127.0.0.1' in request.client.host and debug %}
    <link
      rel="stylesheet"
      href="https://localhost:3000/dashboard/vendors-style.min.css"
      type="text/css"
    />
    {% else %}
    <link rel="stylesheet" href="{{ css_vendors }}" type="text/css" />
    <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endif %} {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}"
    />
    {% endif %}
    <!-- Start of Delighted survey script -->
    {% if 'https' in url_for('static', path='/delighted.js') %}
    <script
      src="{{ url_for('static', path='/delighted.js') }}"
      type="text/javascript"
    ></script>
    {% else %}
    <script
      src="{{ url_for('static', path='/delighted.js') | replace('http', 'https') }}"
      type="text/javascript"
    ></script>
    {% endif %}
    <!-- End of Delighted survey script -->
    <!-- Start of fluidattacks Zendesk Widget script -->
    <script
      id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=dc2bbf98-b773-4e25-ac9f-6cb800f7d293"
      integrity="sha384-aGMIknMWVwotvAKAt25fjiAWqluHhoxFNsOIaWigf3ZKTDPm+fsStNbjr13kQoOd"
      crossorigin="anonymous"
    ></script>
    <!-- End of fluidattacks Zendesk Widget script -->
  </head>
  <body>
    <div id="root"></div>
    {% if '127.0.0.1' in request.client.host and debug %}
    <script
      src="https://localhost:3000/dashboard/runtime-bundle.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://localhost:3000/dashboard/vendors-bundle.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://localhost:3000/dashboard/app-bundle.min.js"
      type="text/javascript"
    ></script>
    {% else %}
    <script src="{{ js_runtime }}" type="text/javascript"></script>
    <script src="{{ js_vendors }}" type="text/javascript"></script>
    <script src="{{ js }}" type="text/javascript"></script>
    {% endif %}
    <script
      src="https://rum-static.pingdom.net/pa-5ae7406129ccc50006000057.js"
      integrity="sha384-X/6iomGHy/1WFnPXlaCnBy8y24W7QCKQIjetBGNiZ9TRTdOz5wm+DTDcLlw7lENZ"
      crossorigin="anonymous"
      async
    ></script>
  </body>
</html>
